main {
  text-align: center;
}

table {
  border: 1px solid;
  border-collapse: collapse;
  min-width: 70%;
  display: inline-table;
}

th,
td {
  padding: 10px;
}

.sample-image {
  width: 80%;
  max-width: 500px;
}

.color-circle-wrapper {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100%;
}

.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
