main {
  text-align: center;
  display: grid;
  justify-items: center;
}

table {
  border: 1px solid;
  border-collapse: collapse;
  min-width: 70%;
}

th,
td {
  /* border: 1px solid; */
  padding: 10px;
}

.color-circle-wrapper {
  display: grid;
  justify-items: center;
}

.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
