main {
  text-align: center;
}

table {
  border: 1px solid;
  border-collapse: collapse;
  min-width: 70%;
  display: inline-table;
  margin-bottom: 30px;
}

th,
td {
  padding: 10px;
}

.color-description-wrapper {
  width: 20%;
  margin: auto;
  min-width: 320px;
}

.color-description-ul {
  text-align: left;
  font-size: 14px;
}

.sample-image {
  width: 80%;
  max-width: 500px;
}

.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
